.git
**/.git
.env
**/.env
**/__pycache__
**/*.pyc

web/vendor
web/node_modules
web/public/build
web/bootstrap/cache/*.php
web/storage/app/fhe-jobs/*
web/storage/app/private/*
web/storage/app/public/*
web/storage/framework/cache/*
web/storage/framework/sessions/*
web/storage/framework/views/*
web/storage/logs/*

backend/*/build
third-party/*/build
deps/openfhe-development/build
